.Icon,
.icon {
  width: 32px;
  height: 32px;
}

@media (max-width: 380px) {
  .Icon,
  .icon {
    width: 28px;
    height: 28px;
  }
}

.icon--verification {
  width: auto;
  height: auto;
}

.Icon:has(.icon--verification) {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  width: min-content;
  height: min-content;
}
