#root {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  color: hsl(0, 0%, 0%);
  user-select: none;
}

.Main {
  padding: 20px 0;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
}

.Feed {
  height: 100%;
  width: 100%;
  max-width: 630px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Feed::-webkit-scrollbar {
  display: none;
}

.PostsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
